{% extends "base2.html" %} <!--繼承base.html-->
{% block title %}歡迎光臨我的部落格{% endblock title %}
{% block headmessage%} 
<h3 style='font-family:標楷體;'>本站文章列表</h3> 
{% comment %} hour:{{hour}}
{% if hour > 13 %} 
晚安
{% elif hour < 10 %} 
早安
{% else %} 
你好
{% endif %} {% endcomment %}
<label for="byear">無意義年份</label>
<select name="byear">
    {% for year in years %}
    <option value="{{year}}">西元 {{year}}</option>
    {% endfor %}
</select>
<input type='radio' name='ryear' checked>2000</input>
<input type='radio' name='ryear' >2001</input>
<input type='radio' name='ryear' >2002</input>
<input type='radio' name='ryear' >2003</input>
<input type='radio' name='ryear' >2004</input>
{% endblock headmessage %}
{% block content%}
{% comment %} 測試
<a href="{% url 'post-url' 2015 12 1 01 %}">show POST</a> {% endcomment %}
{% for post in posts %}
<div class='card'>
     <div class='card-header'>
         <p style='font-family:微軟正黑體;font-size:14pt;font-weight:bold;'>
            <a href={% url 'showpost' post.slug %}>{{ post.title }}</a>    {% comment %} 等於 <a href='/post/{{post.slug}}'>{{ post.title }}</a> {% endcomment %}
         </p>
      </div>
      <div class='card-body' style='background-color:#ffffff'>
          <p>
             {{ post.body | truncatechars:40 }}
          </p>
      </div>
      <div class='card-footer'  style='background-color:#ffffff'>
          <p>
              發佈時間：{{ post.pub_date | date:"Y M d, h:m:s"}}
          </p>
      </div>
  </div>
  <br>  <!--空一行-->
  {% endfor %}
{% endblock%}
