{% extends 'base2.html' %}<!--會先繼承base裡面的網站 然後如果後面有提到block ...就是post的把base的蓋掉-->

{% block title %}表單輸入-2{% endblock title %}<!--存到資料庫-->
{% block headmessage %} <a  style='font-family:微軟正黑體;'href='/'>回首頁</a>{% endblock headmessage %}
{% block content %}
{% comment %}  getElementById ->  其屬性與指定字串匹配的元素。快速存取特定元素的方法。 {% endcomment %}
<script> 
     function go_delete(id){   
        //var user_pass = document.getElementById('user_pass').value;
        // if (user_pass != "") {
            var usr = 'delpost/' + id;
            window.location = usr;
         //}
    }
</script>

<h2>HTML Forms</h2>
{% if message %}
    <div class='alert alert-warning'>
         {{ message }}
    </div>
{% endif %}
<form action="" method="post"><!--如果寫成GET會出現在網址(輸入的東西) 如果改成post會出錯(如果要改)-->
    {% csrf_token %}<!--如果多這行 上面打POST就不會錯(要確定網址只有自己設得)-->
    <ul>
        {{form.as_ul}}    <!--{{form.as_p}}-->
    </ul>
    <input type='submit' value='張貼'>
    <input type='reset' value='清除重填'>
</form>
{% comment %} 
<form action="" method="post"><!--如果寫成GET會出現在網址(輸入的東西) 如果改成post會出錯(如果要改)-->
    {% csrf_token %}<!--如果多這行 上面打POST就不會錯(要確定網址只有自己設得)-->
    <table>
        {{form.as_table}}
    </table>
    <input type='submit' value='張貼'>
    <input type='reset' value='清除重填'>
</form> {% endcomment %}
{% endblock content %}
